
article{
  display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      /*padding-left: 20px;
      padding-right: 20px;*/
}
.days{
    padding: 10px;
    color: white;
    /*border: solid white;*/
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: -20px;
}
#days{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
     font-family: 'Gochi Hand', cursive;
    /*border: solid white;*/
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: -40px;
    /*position: relative;
    top: -50px;*/
}
.hours{
    padding: 10px;
    color: white;
    /*border: solid white;*/
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: -40px;
}

.minutes{
    padding: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: -40px;
    /*border: solid white;
    border-radius: 10px;
*/}
.seconds{
    padding: 10px;
    color: white;
    margin-left: 10px;
    margin-bottom: -40px;
    /*border: solid white;*/
    border-radius: 10px;
}

#clock{
    font-size: 6em;
    color: white;
    border-radius: 10px;
}

#clock{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clockBoarder{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gochi Hand', cursive;
}

p{
  font-size: .3em;
  margin-top: 0px;
}

.words{
   /* position: relative;
  left: 20px;
  top: -40px;*/
}

#kids{
  margin-top: 50px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  border: solid white;
  border-width: 5px 5px 20px 5px;
}

#robot{
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  border: solid white;
  border-width: 5px 5px 20px 5px;
}

#top{
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#welcome{
    font-family: 'Gochi Hand', cursive;
    color: white;
    width:230px;
    font-size: 2em;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    cursor: pointer;
    margin-bottom: 100px;
    margin-top: 100px;
}

#drink{
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: 2em;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    cursor: pointer;
}

#time{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*top: -50px;*/
}

.timeIn{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border:solid;*/
}
.colin{
  font-size: .9em;
  /*border: solid;*/
  margin-bottom: -30px;
}

#pin{
  width: 35px;
  height: 50px;
  position: relative;
  top: -260px;
  left: -240px;
}

#bmimg{
  width: 200px;
  height: 400px;
  margin-bottom: 60px;
  -webkit-filter: invert(100%);
   filter: invert(100%);
   cursor: pointer;
}

#leftCha{
  display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 0;
}

#midCha{
  display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 10px;
}

#rightCha{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-left: 5%;*/
}
