.image{
  display: flex;
  flex-direction:column;
  height: 250px;
  width: 200px;
  background-size: 250px, 200px;
  background-repeat: no-repeat;
  /*border:solid;*/

}

.divbackground p{
  word-wrap: break-word;
  height: 200px;
  width: 200px;
  text-align: left;
}

.button-p{
  display: flex;
  /*width: 80px;*/
  flex-direction:row;
  /*margin: 200px;*/
  /*align-self:flex-end;*/
}
.outerDiv{
  display: flex;
  flex-direction: column;
  margin: 20px;
  /*border:solid;*/
  height: 300px;
  width: 200px;

}

.ingredients{
  color: white;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,.6);
}

.voteComplete{
  background-color: rgba(0,0,0,.8);
  height: 200px;
  width: 160px;

}
.voteP{
  color: white;
  /*font-family: 'Gochi Hand', cursive;*/
  font-size: 25px;
  width:700px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0,0,0,.2);
/*  border: solid;*/
}

p{
  /*border:solid;*/
}


#searchBox{
  margin-left: 350px;
  width: 300px;
  align-self: flex-end;
}

#images{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  /*border: solid;*/
  align-self:flex-start;
}

#voteCopy{
  display: flex;
/*  border: solid;*/
  height: 210px;
  align-items: flex-start;
}
/*

#drink4{
  background-size: 350px, 300px;
}*/

article{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: flex-start;
  max-width: inherit;
  height: 1600px;
  background-size: 1600px, 800px;
  overflow-y: scroll;
  /*border: solid;*/
}

aside{
  height: 1600px;
}
