

.image{
  display: flex;
  flex-direction:column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 250px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;

  /*border:solid;*/

}


.button-p{
  display: -webkit-flex;
  display: flex;
  /*width: 80px;*/
  flex-direction:row;
  -webkit-flex-direction: row;
  /*margin: 200px;*/
  /*align-self:flex-end;*/
}
.outerDiv{
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  margin: 20px;
  /*border:solid;*/
  height: 300px;
  width: 200px;

}

.ingredients{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  color: white;
  font-family: 'Gochi Hand', cursive;
  font-size: 19px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(0,0,0,.6);
}

ul{
  margin-top: 0;
  /*width: 100%;*/
  height: 100%;
  padding-right: 10px;
  padding-top: 20px;

}
.voteComplete{
  background-color: rgba(0,0,0,.8);
  height: 200px;
  width: 160px;

}

p{
  /*border:solid;*/
  /*width: inherit;*/
}

#sBox{
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  width: 100%;
  /*border:solid;*/
}
#searchBox{
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 4%;
}

#images{
  display: flex;
  flex-direction:row;
  display: -webkit-flex;
  -webkit-flex-direction:row;
  flex-wrap:wrap;
  -webkit-flex-wrap:wrap;
  justify-content: center;
  -webkit-justify-content: center;
  width: inherit;
  height: inherit;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  /*border: solid;*/
  align-self: flex-start;
  -webkit-align-self: flex-start;
  height: inherit;
  width: inherit;
}

#voteCopy{
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  word-wrap: break-word;
  color: white;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  width: 90%;
  padding-top: 0;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0,0,0,.1);
  /*border: solid;*/
  margin-bottom: 20px;
}


/*#drink4{
  background-size: 350px, 300px;
}*/

#contentSection{
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  border: solid;
}


#drinks{
  display: flex;
  flex-direction:row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  overflow-y: scroll;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: flex-start;
  width: 98%;
  height:800px;
  margin-bottom: 20px;
  /*border: solid white;*/
}

#myChart{
  height: 1000;
  width: 90%;
}
