.image{
  display: flex;
  flex-direction:column;
  height: 250px;
  width: 200px;
  background-size: 250px, 200px;
  background-repeat: no-repeat;
  /*border:solid;*/

}


.button-p{
  display: flex;
  /*width: 80px;*/
  flex-direction:row;
  /*margin: 200px;*/
  /*align-self:flex-end;*/
}
.outerDiv{
  display: flex;
  flex-direction: column;
  margin: 20px;
  /*border:solid;*/
  height: 300px;
  width: 200px;

}

.ingredients{
  color: white;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgba(0,0,0,.6);
}

.voteComplete{
  background-color: rgba(0,0,0,.8);
  height: 200px;
  width: 160px;

}

p{
  /*border:solid;*/
}

#sBox{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  /*border:solid;*/
}
#searchBox{
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 4%;
}

#images{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  width: inherit;
  height: inherit;
  align-items: flex-start;
  /*border: solid;*/
  align-self:flex-start;
}

#voteCopy{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  word-wrap: break-word;
  color: white;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  width: 90%;
  padding-top: 0;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0,0,0,.1);
  /*border: solid;*/
}


#drink4{
  background-size: 350px, 300px;
}

#contentSection{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: flex-start;
  border: solid;
}


#drinks{
  display: flex;
  flex-direction:row;
  overflow-y: scroll;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 98%;
  height:800px;
  /*border: solid white;*/
}
