body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-width: 950px;
    margin: 0 auto;
    /*background-image: url('./homeImages/fireGlow.jpg');
    background-repeat: none;
    background-size: 100%;*/
}
.width{
  width: 100%;
}

header{
  box-sizing: border-box;
    margin-top: 20px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: solid black;
    border-radius: 20px 20px 0 0;
    height: 100px;
    /*background-color: rgba(255, 97, 0, 0.5);*/
    box-shadow: 10px 0 15px #888888;
    padding: 50px;
    background-image: url('./homeImages/skyView.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    }

#logo{
    z-index: 3;
    width: 100px;
    height: 100px;
    margin-top: -60px;
    margin-left: 20px;
    border-radius: 90px;
    border:solid;
    border-width: 5px;
    cursor: pointer;
}
.away{
  z-index: -1;
}

h1{
  font-size: 4em;
  font-family: 'Black Ops One', cursive;
}

section{
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0 15px #888888;
    /*width: inherit;*/
    background-image: url('./homeImages/chalkboard.jpg');
    background-repeat: none;
    background-size: 900px 800px;
    border-left: solid;
}
#bar{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-align-self: flex-start;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    align-items: center;
    z-index: 2;
}

aside{
    padding-top: 40px;
    margin-top: -52px;
    width: 155px;
    /*border-bottom: solid rgb(76,11,122);
    border-top: solid rgb(76,11,122);
    border-left: solid black;*/
    border: solid;
    border-top: rgb(76,11,122);
    height: 450px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgb(76,11,122);
    margin-left: 20px;
    border-radius: 5px 5px 20px 20px;

}

.nav {
  width: 100px;
  height: 25px;
  border-width: 1px;
  border: solid black;
  border-radius: 10px;
  background-color: black;
  box-shadow: 2px 2px 10px #888888;
  text-align: center;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 40px;
  padding-top: 5px;
  color: white;
  cursor: pointer;
}

article{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 800px;
  border-right: solid;
}

footer{
    box-sizing: border-box;
    height: 150px;
    border: solid;
    border-radius: 0 0 20px 20px;
    box-shadow: 10px 0 15px #888888;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-image: url('./homeImages/footerBackground.jpg');
    background-repeat: none;
    background-size: 100%;
}

#footerBar{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 90px
}

.bottomList{
  display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
  margin-top: 5px;
  text-align: left;

}

.footerNav{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.footerTitle{
  font-size: 1.3em;
  border: none;
  margin-left: 25px;
  margin-right: 25px;
  list-style: none;
  margin-bottom: 10px;
  color: white;
}

.footerLink{
  border: none;
  margin-left: 25px;
  margin-right: 25px;
  list-style: none;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}
