#title{
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: white;
}

p3{
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
  color: white;
  width: 700px;
  margin-bottom: 20px;
}
article{
  overflow: scroll;
}

img{
  width: 300px;
  height: 300px;
  border:solid white;
  border-width: 2px 2px 10px 2px;
}
#moopImg{
  height: 100px;
  width: 600px;
}
