#title{
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: white;
  margin-top:8px;
}

p3{
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
  color: white;
  width: 650px;
  margin-bottom: 10px;
}
article{
  overflow-y: scroll;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
}

img{
  border:solid white;
  border-width: 2px 2px 20px 2px;
  margin-left: 20px;
}


.InnerSec{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 90%;
}

#cornerTime{
  height: 600px;
  padding-top: 25px;
}

#drinkTime{
  height: 800px;
}
#moopTime{
  display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    width: 700px;
    padding-left: 45px;
}

#moopImg{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -5px;
}

.sideImg{
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

a{
  color: white;
}
